.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  padding: 5px 0;
}

.footer-text {
  align-self: center;
  margin-top: 5px;
  margin-bottom: 2px;
  color: #ffbf00;
  letter-spacing: 0.1em;
}

.footer-small {
  align-self: center;
  font-size: small;
  color: #ffbf00;
  letter-spacing: 0.1px;
  margin: 4px 0;
}

.footer .logo {
  height: 40px;
  margin: 5px;
}

.image-content {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}
